@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<p id="group-container">Group Information</p>

<div class="info-container">
    <div>
        <p>Name: Ngô Đình Khôi</p>
        <p>ID: ITITIU16035</p>
    </div>
    <div>
        <p>Name: Vũ Nhật Thanh</p>
        <p>ID: ITITIU16054</p>
    </div>
    <div>
        <p>Name: Nguyễn Trung Hiếu</p>
        <p>ID: ITITIU15061</p>
    </div>
</div>
