@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-container">
    <h1>Game 2048 Project</h1>
    <h2>Course: Data Structure And Algorithm</h2>
    <h3>INTRODUCTION</h3>
    <p>
        2048 is a single-player sliding block puzzle game. <br />
        The game's objective is to slide numbered tiles on a grid to combine them to create a tile with the number 2048;<br />
        However, you can keep playing the game, creating tiles with larger numbers. <br />
        In this project, Game 2048 was writen in JavaScript, C#, and HTML.<br />
    </p>
    <h3>GAMEPLAY</h3>
    <p>
        2048 is played on a black 4×4 grid, with numbered tiles that slide smoothly when a player moves them using the four arrow keys.<br />
        Every turn, a new tile will randomly appear in an empty spot on the board with a value of either 2 or 4.<br />
        Tiles slide as far as possible in the chosen direction until they are stopped by either another tile or the edge of the grid.<br />
        If two tiles of the same number collide while moving, they will merge into a tile with the total value of the two tiles that collided.<br />
        The resulting tile cannot merge with another tile again in the same move.<br />
        Higher-scoring tiles emit a soft glow.<br />
    </p>
    <h3>FEARTURES</h3>
    <div id="fearture">
        <ul>
            <li><p>Some Basic Fearture of the game</p></li>
            <li><p>Undo Game</p></li>
            <li><p>Spectate The Other Play Game</p></li>
        </ul>
    </div>
    


</div>