@page
@model SpectateModel
@{
    ViewData["Title"] = "Spectate";
}

<h1 style="text-align: center">Spectate</h1>

<div class="game-container">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="tile-container">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        let transportType = signalR.TransportType.WebSockets;
        let http = new signalR.HttpConnection(`http://${document.location.host}/hubs/game`, { transport: transportType });
        let connection = new signalR.HubConnection(http);
        this.player = [];
        var playerContainer = document.querySelector(".player-container");
        connection.on("Connection", function (player) {
            console.log(player);
        });
        

        connection.on("SharedBoard", function (cells) {
            gameContainer(cells);
        });

        connection.start();

        this.tileContainer = document.querySelector(".tile-container");
        this.values = [];
        this.tiles = [];
        this.colorHex = {
            "v0": "#D2D2C8",
            "v2": "#FA5252",
            "v4": "#607BB0",
            "v8": "#9FE660",
            "v16": "#E6D960",
            "v32": "#C77070",
            "v64": "#4DA6FF",
            "v128": "#FF0000",
            "v256": "#967FF9",
            "v512": "#000080",
            "v1024": "#f3904f",
            "v2048": "#8080ff"
        };
        function render() {
            for (var i = 0; i < 4; i++) {
                this.tiles[i] = [];
                for (var j = 0; j < 4; j++) {
                    this.tiles[i][j] = document.createElement("div");
                    this.tiles[i][j].className = "tile";
                    console.log(this.tiles[i][j]);
                    this.tileContainer.appendChild(this.tiles[i][j]);
                    console.log(this.values[i][j])
                    var value = this.values[i][j];
                    $(this.tiles[i][j]).css("background", this.colorHex[`v${value}`]);
                    if (value != 0) {
                        this.tiles[i][j].innerHTML = value;
                    } else {
                        this.tiles[i][j].innerHTML = "";
                    }
                    var x = 110 * j + 10;
                    var y = 110 * i + 10;
                    $(this.tiles[i][j]).css("left", `${x}px`);
                    $(this.tiles[i][j]).css("top", `${y}px`);
                }
            }
        }

        function gameContainer(cells) {
            this.values = cells;
            render();
        }


        
    </script>
}